div.list {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

div.row {
  display: flex;
  justify-content: center;
}

h5.title {
  display: flex;
  justify-content: center;
}

div.langbtn {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

div.playpause {
  display: block;
}

button.primary {
  padding-left: 1rem;
  padding-right: 1rem;
}

button.pause {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
}
